<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="OpenQA.Selenium.Winium" version="1.0.0.4" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net461" />
</packages>